<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free Restaurant Catalogue For You">
  <meta name="theme-color" content="#1d2536" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/127bf5b263.js" crossorigin="anonymous"></script>
    <title>RESTAURANT CATALOGUE</title>
</head>
<body>
  <a href="#items" class="skip-link">Menuju ke konten</a>
  <header class="navbar">
    <div class="navbar__menu">
      <button id="hamburger">☰</button>
    </div>
    <div class="navbar__brand">
      <h1>SEBLAK LADA</h1>
    </div>
    <nav id="burgerDrawer" class="navbar__navigation">
      <ul>
        <li><a href="#/restaurants">HOME</a></li>
        <li><a href="#/favorite">FAVORITE</a></li>
        <li><a href="https://github.com/agamsantika91" target="_blank">ABOUT US</a></li>
      </ul>
    </nav>
    <!--Jumbo-->
  </header>
  <div class="hero-image" style="background-image: url('/images/hero-image.jpg')">
    <div class="container">
        <h1><span>SEBLAK LADA</span></h1>
        <span class="des">SITUS CARI RESTORAN TERBAIK DI INDONESIA</span>
        <a class="btn" href="#items">EXPLORE</a>
    </div>
    </div>
    
    <!--resto Collection-->
    <main id="items"></main>

  <!-- Footer -->
  <footer>
    <div class="cont"></div>
    <div class="top-footer">
      <ul>
              <li>
                <a href="https://www.facebook.com/gam.rwak" target="_blank">
                  <i class="fab fa-facebook"></i>
              </a>
              </li>
              <li>
                <a href="https://www.instagram.com/agamsantika" target="_blank">
                  <i class="fab fa-instagram"></i>
              </a>
              </li>
              <li>
                <a href="https://www.github.com/agamsantika91" target="_blank">
                  <i class="fab fa-github"></i>
              </a>
              
              </li>
            </ul>   
    </div> 
    <div class="bottom-footer">
    <span>
      Copyright © 2021 - SEBLAK LADA
    </span>
    <span>
      <a href="https://restaurant-api.dicoding.dev/" target="_blank"
      rel="noreferrer" class="seblak">Restaurant-API-Dicoding</a>
    </span>
    </div>
    </div>    
    </footer>
<!--Footer -->
</body>
</html>